/* Tabs bar
================================ */
/* Squash Tabsbar */
#TabsToolbar {
  visibility: collapse;
}

/* Sidebar
================================ */
/* Remove Sidebar header */
#sidebar-header {
  display: none;
}
